/* global styles */
:root {
   --main-font: 'Roboto', sans-serif;
   --accent-font: 'Raleway', sans-serif;
   --accent-background-color: #2F303A; 
   --accent-color: #2196F3;
   --main-font-weight: 400;
   --header-font-weight: 700;
   --header-color: #212121;
   --main-text-color: #757575;
}

body {
   font-family: var(--main-font);
   font-size: 14px;
   font-weight:  var(--main-font-weight);
   line-height: 1.16;
   color: var(--main-text-color);
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* header */
.header {
   margin: 0 auto;
   padding: 24px 0;
}

.header-container {
   display: flex;
   width: 1200px;
   height: auto;
   margin: 0 auto;
   padding: 0 15px;
}

.logo-link {
   display: block;
   margin: 0 90px 0 0;
   font-family: var(--accent-font);
   font-weight: var(--header-font-weight);
   font-size: 26px;
   line-height: 1.19;
   color: var(--header-color);
}

.logo-accent {
   color: var(--accent-color);
}

.nav-links,
.contacts {
   display: flex;
   padding: 8px 0;
}

.nav-link-element,
.contacts-link {
   font-weight: 500;
   line-height: 1.14;
   color: var(--main-text-color);
}
.nav-link-element {
   margin-right: 50px;
   color: var(--header-color);
}

.contacts {
   justify-content: space-between;
   width: 307px;
   margin-left: auto;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link-element:hover,
.nav-link-element:focus,
.current{
   color: var(--accent-color);
}

/* section main */
main {
   width: 100%;
   height: auto;
   padding: 94px 0;
   border-top: 1px solid rgba(236, 236, 236, 1);
}

.container {
   display: flex;
   flex-direction: column;
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.portfolio {
   display: flex;
   width: 1170px;
   margin: 0 auto;
}

.filter {
   display: flex;
   width: 611px;
   height: auto;
   margin: 0 auto ;
   margin-bottom: 34px;
   justify-content: space-between;

}

.filter-btn {
   border: none;
   border-radius: 4px;
   padding: 6px 22px;
   background: #F5F4FA;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   color: var(--header-color);
}
.filter-btn:hover,
.filter-btn:focus,
.active {
   background-color: var(--accent-color);
   color: #FFFFFF;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.filter-btn:active {
   color: #F5F4FA;
   
}

.portfolio-list {
   column-count: 3;
   column-gap: 30px;
}

.portfolio-card {
   margin-bottom: 30px;
   border: 1px solid #EEEEEE;
}

.card-text-contaner {
   width: 320px;
   margin: 20px 24px;
   text-align: left;

}

.card-header {
   margin-bottom: 4px;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   color: var(--header-color);
}

/* footer */
.footer {
   width: 100%;
   height: auto;
   padding: 60px 0 60px ;
   background: var(--accent-background-color);
}

.footer-tech-container {
   width: 1170px;
   margin: 0 auto;
padding: 0 15px;
}
.footer-logo-link {
   width: 140px;
   color: #FFFFFF;
}

.footer-contacts-link {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}

.footer-contacts-element {
   margin-bottom: 9px;
}

.footer-link-google-map,
.footer-link-email,
.footer-link-tel {
   font-family: var(--main-font);
   font-weight:  var(--main-font-weight);
   line-height: 1.71;
   color: rgba(255, 255, 255, 0.6);
}

.footer-link-google-map {
   color: #FFFFFF;
}

.footer-link-google-map:focus,
.footer-link-email:focus,
.footer-link-tel:focus,
.footer-link-google-map:hover,
.footer-link-email:hover,
.footer-link-tel:hover {
   color: var(--accent-color);
}