:root {
   --main-font: 'Roboto', sans-serif;
   --accent-font: 'Raleway', sans-serif;
   --accent-background-color: #2F303A; 
   --accent-color: #2196F3;
   --main-font-weight: 400;
   --header-font-weight: 700;--header-color: #212121;
   --main-text-color: #757575;
}

body {
   width: auto;
   height: auto;
   font-family: var(--main-font);
   font-weight:  var(--main-font-weight);
   color: var(--main-text-color);
}

.tech-container {
   width: 1170px;
   margin: 0 auto;
}

.header {
   display: flex;
   width: 100%;
   height: auto;
   padding: 24px 0;
}

.logo-link {
   display: block;
   margin: 0 90px 0 0;
   font-family: var(--accent-font);
   font-weight: var(--header-font-weight);
   font-size: 26px;
   line-height: 31px;
   color: var(--header-color);
}

.logo-accent {
   color: var(--accent-color);
}

.nav-links {
   display: flex;
   padding: 8px 0;
}
.nav-link-element {
   margin: 0 25px;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: var(--header-color);
}

.contacts {
   width: 307px;
   display: flex;
   justify-content: space-between;
   margin-left: 330px;
   padding: 8px 0;
}

.contacts-link {
   font-family: var(--main-font);
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: var(--main-text-color);
}

.logo-link:hover,
.contacts-link:hover,
.nav-link-element:hover {
   color: var(--accent-color);
}

.hero {
   background: url('../images/Img.jpg') 50% 0/auto no-repeat;
}

.transparant {
   display: flex;
   flex-direction: column;
   width: auto;
   height: auto;
   padding: 200px;
   background-color: rgba(47, 48, 58, 0.4);
}

.hero-header {
   width: 696px;
   height: 120px;
   margin: 0 auto;
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}

.hero-button {
   font-weight: var(--header-font-weight);
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
   width: 200px;
   height: 50px;
   margin: 30px auto 0;
   background: var(--accent-color);
   border: none;
   border-radius: 4px;
}

.hero-button:focus,
.hero-button:hover {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   color: #ecedf5;
}

.specifics {
   padding: 94px 15px;
}

.specifics-list {
   display: flex;
   width: 1170px;
   margin: 0 auto;
   justify-content: space-between;
}

.specifics-list-element {
   width: 270px;
   height: auto;
   margin: 0 auto ;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
}

.element-header {
margin-bottom: 10px;
font-weight: var(--header-font-weight);
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: var(--header-color);
}

.team-header,
.types-works-header {
   font-weight: var(--header-font-weight);
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   color: var(--header-color);
}
.types-works-items {
   display: flex;
   width: 1170px;
   margin: 50px auto 94px;
   justify-content: space-between;
}

.team {
   width: 100%;
   padding: 94px 0;
   background: #F5F4FA;
}

.team-list-persons {
   display: flex;
   width: 1170px;
   margin: 50px auto 0;
   justify-content: space-between;
}

.person-card { 
   width: 270px;
   height: auto;
   background-color: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.person-name {
   margin: 30px auto 10px ;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: var(--header-color);
}

.person-position {
   margin: 0 auto 30px;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: var(--main-text-color);
}

.footer {
   width: 100%;
   height: auto;
   padding: 60px 0 60px ;
   background: var(--accent-background-color);
}

.footer-tech-container {
   width: 1170px;
   margin: 0 auto;
}

.footer-logo-link {
      font-family: var(--accent-font );
      font-weight: var(--header-font-weight);
      font-size: 26px;
      line-height: 31px;
      color: #FFFFFF;
}

.footer-contacts-link {
   display: flex;
   flex-direction: column;
   margin: 20px 0 0 0;
}

.footer-contacts-link-google-map,
.footer-contacts-link-email,
.footer-contacts-link-tel {
   font-family: var(--main-font);
   font-weight:  var(--main-font-weight);
   font-size: 14px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link-google-map {
   color: #FFFFFF;
}

.footer-logo-link:focus,
.footer-contacts-link-google-map:focus,
.footer-contacts-link-email:focus,
.footer-contacts-link-tel:focus {
   color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(33, 150 243, 0.15);
}

.footer-logo-link:hover,
.footer-contacts-link-google-map:hover,
.footer-contacts-link-email:hover,
.footer-contacts-link-tel:hover {
   color: var(--accent-color);
}